/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-primary: #86bd00;
  --color-primary-light: #a1c700;
  --color-primary-dark: #5a8e00;
  --color-details: #91a0aa;
  --color-text-dark: #223744;
  --color-error: #ff0000;
}

.mat-mdc-snack-bar-container
  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled).mat-unthemed {
  color: var(--color-primary) !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after{
  color: var(--color-primary) !important;
}

.mat-mdc-text-field-wrapper{
 border: 1px solid;
 color: var(--color-details);
 border-radius: 5px;
}