<div class="flex flex-col items-center gap-6 sm:px-2 menu">
    <button class="text-details mt-6 mb-5 hover:text-primary ">
        <mat-icon>menu</mat-icon>
    </button>
    <button class="text-details hover:text-primary">
        <mat-icon>dashboard</mat-icon>
        <p class="hidden sm:block">Início</p>
    </button>
    <button class="text-details hover:text-primary">
        <mat-icon>church</mat-icon>
        <p class="hidden sm:block">Igreja</p>
    </button>
    <button class="text-details hover:text-primary">
        <mat-icon>child_care</mat-icon>
        <p class="hidden sm:block">Kids</p>
    </button>
    <button class="text-details hover:text-primary">
        <mat-icon>groups</mat-icon>
        <p class="hidden sm:block">Grupo</p>
    </button>
    <button class="text-details hover:text-primary">
        <mat-icon>family_restroom</mat-icon>
        <p class="hidden sm:block">Família</p>
    </button>
</div>
