<app-modal-default>
  <span titleModal >Editar Evento</span>
    <div class="container" contentModal>
    <form [formGroup]="form">      
      <div class="mt-2">
        <label class="text-slate-800 font-medium text-sm block">Nome do Evento</label>
        <input
          matInput
          type="text"
          formControlName="title"
          class="block w-full px-3 py-2 
          border  rounded-md"
          [ngClass]="{
            'border-red-500': fieldIsValid(form.get('title')),
            'border-slate-300': !fieldIsValid(form.get('title'))
          }"
        />  
        <app-field-error [control]="form.get('title')"></app-field-error>           
      </div> 
      <div class="mt-2">
        <label class="text-slate-800 font-medium text-sm block">Descrição</label>
        <textarea
          matInput
          type="text-area"
          formControlName="description"
          class="block w-full px-3 py-2 
          border  rounded-md"
          [ngClass]="{
            'border-red-500': fieldIsValid(form.get('description')),
            'border-slate-300': !fieldIsValid(form.get('description'))
          }"
        > </textarea> 
        <app-field-error [control]="form.get('description')"></app-field-error>           
      </div>
      <div class="status mt-3">
        <mat-form-field 
          class="w-full"
          appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select  
            formControlName="status">
            <mat-option 
              *ngFor="let option of options" 
              [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-field-error [control]="form.get('status')"></app-field-error> 
      </div>
      
      <input 
        type="file" 
        (change)="onFileSelected($event)" 
        accept="image/*" 
      />

      <app-field-error [control]="form.get('image')"></app-field-error>

      <div *ngIf="imageUrl" class="w-44 h-44">
        <h2 class="text-slate-800 font-medium text-sm block mb-1">Imagem</h2>
        <img [src]="imageUrl" class="object-cover w-full h-full rounded" />
      </div>

    </form>
  </div>

  <div class="flex gap-4 mt-5 justify-end" footerModal>
    <button 
      type="submit"
      mat-stroked-button
      color="primary"
      class="text-black font-bold py-2 px-4"
      (click)="cancel()">
      Cancelar
    </button>

    <button 
      type="submit"
      class="text-black font-bold py-2 px-4"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || !form.dirty"
      (click)="save()">
      Salvar
    </button>        
  </div>
</app-modal-default>