<div  class="flex flex-col flex-wrap contentList">        
    <div class="mat-elevation-z8 tableList flex-wrap">
        <table mat-table [dataSource]="dataSource"> 
            <!-- <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row"> {{ row.image }} </td>
            </ng-container> -->
            <ng-container matColumnDef="events">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento </th>
                <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
            </ng-container>

            <ng-container matColumnDef="publishedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Publicado</th>
                <td mat-cell *matCellDef="let row"> {{ row.publishedDate | date:'dd/MM/yyyy HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                <td mat-cell *matCellDef="let row"> {{ row.status ? 'Ativo' : 'Inativo' }} </td>
            </ng-container>
            
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ação</th>
                <td mat-cell *matCellDef="let row">
                    <button                         
                        color="primary"
                        class="buttonIcon"              
                        matTooltip="Editar" 
                        (click)="onEditEvent(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button                        
                        color="Basic"
                        class="buttonIcon" 
                        matTooltip="Detalhe" 
                        (click)="openEventDetails(row.id)">         
                        <mat-icon>dehaze </mat-icon>
                    </button>
                    <button                        
                        color="warn"
                        class="buttonIcon" 
                        matTooltip="Apagar" 
                        (click)="confirmDeleteEvent(row.id)">         
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        
    </div>
    <div class="paginator mt-8">
        <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25]"
            showFirstLastButtons>
        </mat-paginator>

    </div>
</div>