<div class="container-modal flex flex-col">
  <header class="bg-navMenu text-white w-full flex items-end">
    <h2 class="text-2xl flex-1 text-center stroke-stone-800">{{title}}</h2>
    <button (click)="onCancel()">
        <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="content-modal flex items-end flex-col">
    <div 
      class="container" 
      [innerHTML]="subtitle">
    </div>         
  </div>

  <footer>
    <div class="flex h-full justify-end items-center gap-4">
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onCancel()">Cancelar
      </button>

      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onConfirmDelete()">
        Confirmar
      </button>
    </div>
  </footer>
</div>